[submodule "3rdparty/YDLidar-SDK"]
	path = 3rdparty/YDLidar-SDK
	url = git@github.com:YDLIDAR/YDLidar-SDK.git
[submodule "3rdparty/ydlidar_ros_driver"]
	path = 3rdparty/ydlidar_ros_driver
	url = git@github.com:YDLIDAR/ydlidar_ros_driver.git
[submodule "3rdparty/jy901-imu-ros"]
	path = 3rdparty/jy901-imu-ros
	url = git@github.com:introverti/jy901-imu-ros.git
